label {
    display: inline-flex;
}

label * {
    margin-left: 5px;
    width: 620px;
    margin-bottom: 20px;
}

.input-name {
    width: 599px;
}

.input-email {
    width: 602px;
}

.comments {
    width: 570px;
    height: 120px;
}

.submit-container {
    text-align: right;
    margin-bottom: 10px;
}
