label {
    display: inline-flex;
    vertical-align: top;
}

input, textarea {
    margin-left: 5px;
    margin-bottom: 20px;
}

.input-name {
    width: 598px;
}

.input-email {
    width: 601px;
}

.comments {
    width: 569px;
    height: 120px;
}

.submit-container {
    text-align: right;
    margin-bottom: 10px;
}

.message {
    text-align: right;
}
